/* You can add global styles to this file, and also import other style files */

/* VARIABLES */

$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$gutter: 8px;
$page-width: $lg;
$header-height: 60px;
/* BASE */


// $gutter: 8px;
// $page-width: 1140px;

// $header-height: 68px;

body {
    margin-top: $header-height + $gutter!important;
}


ng-component {
    display: block;
    margin: 0 auto;
    padding: 0 $gutter;
    max-width: $page-width;
    @media all and (min-width: $page-width) {
        padding: 0;
    }
    .title {
        font-size: 3em;
    }
}


#custom-error-handler {
    position: absolute;
    z-index: 987654321;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    font-size: 14px;
    background-color: black;
    color: white;

    h2 {
        font-size: 24px;
        color: #b00;
    }
}

