@import "./../../../styles";
$font-size: .9rem;
$gutter: .5rem;


/// Layout
nav.navbar {
    padding: 0!important;
    .container {
        margin: 0;
        padding: 0;
        width: 100%;
        @media ( min-width: $lg ) {
            margin: 0 auto;
            width: $lg;
        }
    }
    .navbar-toggler {
        padding: 0;
        right: 0;
        padding: $gutter;
        @media ( min-width: $lg ) {
            padding-left: 0;
        }
    }
    .logo {
        padding: $gutter;
        @media ( min-width: $lg ) {
            padding-left: 0;
        }
        min-width: 8em;
    }
}

/// Menu Toggle
.collapse {
    &.active {
        display: block;
    }
    ul {
        @media ( min-width: $md ) {
            height: 25px;
        }
        li {
            padding: .4em 1em;
            @media ( min-width: $md ) {
                padding: 0;
            }
        }
    }
}

/// color, font-size
nav.navbar {
    font-size: $font-size;
    background-color: slategrey;
    color: white;
    .collapse, a {
        background-color: #93a3b3;
        color: snow;
        @media (min-width: $md) {
            background-color: inherit;
            color: white;
        }
    }
    .fa {
        color: slategrey;
    }
    .fa-circle {
        color: white;
    }
    .navbar-toggler {
        font-size: $font-size;
    }
    
}


/// Modules ////////////


.user-icon {
    height: auto;
    @media ( min-width: $md ) { height: 0; }
    vertical-align: top;
    img {
        top: -2px;
    }
}
