
.info-box {                         /////////////// info-box //////////////
  display: block;
  margin-bottom: $margin-bottom;
  background: #fff;
  width: 100%;
  min-width: 10em;
  overflow: auto;
  line-height: 1em;
  .icon {
    float: left;
    padding: 1em;
    background: #00c0ef;
    color: white;
  }
  .text {
    float: left;
    padding-left: $gutter;
    .title {
      padding-top: $gutter;
    }
    .content {
      padding-top: $gutter;
      font-weight: bold;
    }
  }
}
