


/**
 * This is deprecated !!!! ...
 * Do not use this.
  .side-menu > nav > ul > li

 * 
 */
.side-menu {
  padding: 1em;
    font-size: .9rem;
    nav {
      ul {
        @include list-style-none();
      }
      li {
        cursor: pointer;
      }
      .heading {
        font-weight: bold;
      }

      .depth-2 {
        margin-left: 1em;
      }
  }
}


/// for panel menu.
ul.panel {
  @include list-style-none();
  & > li {
    padding: $gutter;
    cursor: pointer;
  }
}
