
// Top menu
/**
 * Deprecated
 *
 .top-menu > nav > ul > li
 */
.top-menu {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  height: $top-menu-height;
  overflow: hidden;
  background-color: grey;

  color: white;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
  .fa {
      color: grey;
  }
  .fa-circle {
      color: white;
  }

  nav {
    position: relative;
    height: $top-menu-height;
    @media ( min-width: $sm ) {
      margin-left: auto;
      margin-right: auto;
      max-width: $lg;
    }
  }

  ul {
    @include list-style-none();
    @include list-float-left();
  }

  li {
    padding: $gutter;
  }

}

