// red
.red { color: red!important; }
.bg-red { background-color: red!important; }
.b-red { border-color: red!important; }

// dark red
.darkred { color: darkred!important; }
.bg-darkred { background-color: darkred!important; }
.b-darkred { border-color: darkred!important; }


// black red
.blackred { color: #b80000!important; }
.bg-blackred { background-color: #b80000!important; }
.b-blackred { border-color: #b80000!important; }


// orange
.orange { color: orange!important; }
.bg-orange { background-color: orange!important; }
.b-orange { border-color: orange!important; }


// white
.white { color: white!important; }
.bg-white { background-color: white!important; }
.b-white { border-color: white!important; }


// white
.whitesmoke { color: whitesmoke!important; }
.bg-whitesmoke { background-color: whitesmoke!important; }



// white
.snow { color: snow!important; }
.bg-snow { background-color: snow!important; }


// blue
.blue { color: blue!important; }
.bg-blue { background-color: blue!important; }
.b-blue { border-color: blue!important; }


// lightblue
.lightblue { color: lightblue!important; }
.bg-lightblue { background-color: lightblue!important; }
.b-lightblue { border-color: lightblue!important; }


// black
.black { color: black!important; }
.bg-black { background-color: black!important; }
.b-black { border-color: black!important; }

// light black
.lightblack { color: #444!important; }
.bg-lightblack { background-color: #444!important; }
.b-lightblack { border-color: #444!important; }


// grey
.grey { color: grey!important; }
.bg-grey { background-color: grey!important; }
.b-grey { border-color: grey!important; }

// light grey
.lightgrey { color: #eee!important; }
.bg-lightgrey { background-color: #eee!important; }
.b-lightgrey { border-color: #eee!important; }


// dim grey
.dimgrey { color: dimgrey!important; }
.bg-dimgrey { background-color: dimgrey!important; }
.b-dimgrey { border-color: dimgrey!important; }


// slate grey
.slategrey { color: slategrey!important; }
.bg-slategrey { background-color: slategrey!important; }
.b-slategrey { border-color: slategrey!important; }

// silver
.silver { color: silver!important; }
.bg-silver { background-color: silver!important; }



// burlywood
.burlywood { color: burlywood!important; }
.bg-burlywood { background-color: burlywood!important; }

// brown
.brown { color: brown!important; }
.bg-brown { background-color: brown!important; }

// chocolate
.chocolate { color: chocolate!important; }
.bg-chocolate { background-color: chocolate!important; }

// darkseagreen
.darkseagreen { color: darkseagreen!important; }
.bg-darkseagreen { background-color: darkseagreen!important; }



// brown
.pink { color: pink!important; }
.bg-pink { background-color: pink!important; }


// brown
.purple { color: purple!important; }
.bg-purple { background-color: purple!important; }

