

///
.list-menu {
    @include list-style-none();
    @include list-float-left();
    li {
      cursor: pointer;
    }
}


/// for panel menu.
ul.list-panel-menu {
  @include list-style-none();
  & > li {
    padding: $gutter;
    cursor: pointer;
    border-top: 1px solid #eee;
      &:hover {
          background-color: #f3f3f3;
      }
  }
}
