


.bold { font-weight: bold; }
.fs-80 { font-size: 80%; }
.fs-90 { font-size: 90%; }
.fs-100 { font-size: 100%; }
.fs-110 { font-size: 110%; }
.fs-120 { font-size: 120%; }
.fs-130 { font-size: 130%; }
.fs-140 { font-size: 140%; }
.fs-150 { font-size: 150%; }
.fs-160 { font-size: 160%; }
.fs-170 { font-size: 170%; }
.fs-180 { font-size: 180%; }
.fs-190 { font-size: 190%; }
.fs-200 { font-size: 200%; }



.fs-08em { font-size: .8em; }
.fs-09em { font-size: .9em; }
.fs-1em { font-size: 1em; }
.fs-2em { font-size: 2em; }


.fs-1rem { font-size: 1rem; }