.no-space on container
  <div class="container no-space">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-3">
        <div class="text-center bg-primary">Top line</div>
      </div>
      <div class="col-12 col-sm-8 col-md-9">
        <div class="text-center bg-grey">Bottom line</div>
      </div>
    </div>
  </div>
  

This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.
<div class="container">
  <div class="row">
    
    <div class="col">

      <div class="info-box">
        <div class="icon bg-primary"><i class="fa fa-gears fa-3x orange"></i></div>
        <div class="text">
          <div class="title">Hello Box</div>
          <div class="content text-primary">88.24%</div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="info-box box-shadow rounded">
        <div class="icon bg-blackred"><i class="fa fa-google-plus fa-3x"></i></div>
        <div class="text">
          <div class="title">Google+ Accounts</div>
          <div class="content">88.24%</div>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="info-box">
        <div class="icon bg-primary"><i class="fa fa-genderless fa-3x"></i></div>
        <div class="text">
          <div class="title">Hello Box</div>
          <div class="content text-primary">88.24%</div>
        </div>
      </div>

    </div>
  </div>
</div>
This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.
<div class="container">
  <div class="row">
    <div class="col">

      <div class="info-box bg-success box-shadow white">
        <div class="icon"><i class="fa fa-gear fa-2x"></i></div>
        <div class="text">
          <div class="title">Hello Box</div>
          <div class="content">88.24%</div>
        </div>
      </div>

    </div>
  </div>
    <div class="row">
      <div class="col offset-6">
        <div class="progress-group m-3">
          <span class="text">Add Products to Cart</span>
          <span class="number"><b>160</b>/200</span>
          <div class="progress sm">
            <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <div class="progress-group my-2 mx-2">
          <span class="text fs-80 bold">Add Products to Cart</span>
          <span class="number fs-80"><b>160</b>/200</span>
          <div class="progress sm rounded-0 bg-grey">
            <div class="progress-bar bg-orange" style="width: 86%; height: .8em;"></div>
          </div>
        </div>
      </div>
    </div>
</div>
This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.

