            <span class="user-icon mr-3" routerLink="/profile" title="{{ app.user.displayName }}">
                <span class="fa-stack">
                        <ng-container *ngIf=" app.user.photoURL ">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <img class="fa fa-stack-1x" style="width: 34px; border-radius: 50%;" src="{{ app.user.photoURL }}">
                        </ng-container>
                        <ng-container  *ngIf=" ! app.user.photoURL ">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-user fa-stack-1x " aria-hidden="true"></i>
                        </ng-container>
                    </span>
            </span>