<header>
    <nav class="bg-slategrey white text-center">
        <div class="content d-flex justify-content-between">
            <div class="left pointer" routerLink="/">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-home fa-stack-1x slategrey" aria-hidden="true"></i>
                </span>
                <div class="text">Home</div>
            </div>
            <div class="center d-flex align-items-center">
                <div class="pointer" routerLink="/">
                    <h1>ABC</h1>
                </div>
            </div>
            <div class="right">

                <ul class="list-style-none list-float-left pointers">

                    <li class="mr-2" *ngIf="app.logged" routerLink="/profile">
                        <span class="fa-stack fa-lg">
                            <ng-container *ngIf=" app.user.photoURL ">
                                <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
                                <img class="fa fa-stack-1x" style="padding: 2px 0 0 3px; width: 34px; border-radius: 50%;" src="{{ app.user.photoURL }}">
                            </ng-container>
                            <ng-container  *ngIf=" ! app.user.photoURL ">
                                <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                                <i class="fa fa-user fa-stack-1x slategrey" aria-hidden="true"></i>
                            </ng-container>
                            
                        </span>
                        <div class="text">{{ app.user.displayName }}</div>
                    </li>

                    <li (click)=" showMenu = ! showMenu ">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-bars fa-stack-1x slategrey" aria-hidden="true"></i>
                        </span>
                        <div class="text">Menu</div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

<section class="panel" [class.active]=" showMenu ">

    <nav class="bg-silver">
        <ul class="content clearfix pl-2 pl-xl-0 list-style-none list-float-left fs-08em text-center pointers">
            <li *ngIf=" ! app.logged " routerLink="/login">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
                    <i class="fa fa-sign-in fa-stack-1x snow" aria-hidden="true"></i>
                </span>
                <div class="text">Login</div>
            </li>
            <li *ngIf=" app.logged " (click)=" onClickLogout() ">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
                    <i class="fa fa-sign-out fa-stack-1x snow" aria-hidden="true"></i>
                </span>
                <div class="text">Logout</div>
            </li>
            <li *ngIf=" ! app.logged " routerLink="/register">
                <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
        <i class="fa fa-user-plus fa-stack-1x snow" aria-hidden="true"></i>
      </span>
                <div class="text">Register</div>
            </li>
            <li *ngIf=" app.logged " routerLink="/profile">
                <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
        <i class="fa fa-user fa-stack-1x snow" aria-hidden="true"></i>
      </span>
                <div class="text">Profile</div>
            </li>

            <li *ngIf=" app.logged " routerLink="/password">
                <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
        <i class="fa fa-lock fa-stack-1x snow" aria-hidden="true"></i>
      </span>
                <div class="text">Password</div>
            </li>


            <li routerLink="/forum/test">
                <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
        <i class="fa fa-comment fa-stack-1x snow" aria-hidden="true"></i>
      </span>
                <div class="text">Forum</div>
            </li>


            <li routerLink="/forum/test">
                <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
        <i class="fa fa-comment fa-stack-1x snow" aria-hidden="true"></i>
      </span>
                <div class="text">Q&amp;A</div>
            </li>


            <li routerLink="/forum/test">
                <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
        <i class="fa fa-comment fa-stack-1x snow" aria-hidden="true"></i>
      </span>
                <div class="text">Discussion</div>
            </li>


            <li routerLink="/forum/test" (click)=" showMenu = ! showMenu ">
                <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x slategrey" aria-hidden="true"></i>
        <i class="fa fa-times fa-stack-1x snow" aria-hidden="true"></i>
      </span>
                <div class="text">Close</div>
            </li>



        </ul>
    </nav>
</section>