@import "../../../styles";

// width
header nav .content, .panel .content {
    margin: 0 auto;
    max-width: $page-width;
}

// height
header nav .content {
    height: $header-height;
}

// header design
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    nav {
        .content {
            padding: $gutter;
            h1 {
                font-size: 1.6em;
                font-weight: normal;
            }
        }
    }
}

section.panel {
    position: fixed;
    z-index: 99999;
    top: $header-height;
    left: 0;
    right: 0;
    overflow: hidden;
    transition-duration: .2s;
    height: 0;
    &.active {
        height: $header-height * 2;
    }

    li {
        padding: .4em .4em .8em 0;
    }
}